.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 970px;
    margin: 0 auto;
    margin-top: 20px;
   
}
.navLink ul{
    list-style: none;
    display: flex;
    column-gap: 20px;
    font-size: 22px;
    align-items: center;
}
.logo h1{
    font-size: 36px;
    /* margin-top: 20px; */
}
