.bannerParent{
 display: flex;
 margin: 0 auto;
 max-width: 970px;
 align-items: center;
 justify-content: space-between;
 padding: 6rem 0 2rem;
 gap: 20px;
}
.rotate{
    display: flex;
    flex-direction: row-reverse;
}
.button-wrapper{
    display: flex;
    gap: 10px;
    align-items: center;
}